{% extends 'base.html' %}


{% block title %}
    Todos los Departamentos
{% endblock title %}

{% block content %}

    {% include "includes/header.html" %}


    <div class = "grid-container">
        <div class = "grid-x">
            <h1 class = "cell" style = "margin-top: 20px; margin-bottom: 10px;">Lista de Departamentos</h1>

            <!-- start of department finder -->
            <form method = "GET" class = "cell grid-x grid-margin-x">
                {% csrf_token %}
                <div class = "cell large-7">
                    <input type="text" id = "keyword_id" name = "keyword" placeholder="Buscar departamento">
                </div>
                <div class = "cell large-2">
                    <button type = "submit" class = "success button">Buscar</button>
                </div>
            </form>
            <!-- end of department finder -->

            <!-- start of list table -->
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="50">ID</th>
                            <th width="100">DESCRIPCIÓN</th>
                            <th width="30">ACCIONES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for department in list_departments %}
                        <tr>
                            <td>{{ department.id }}</td>
                            <td>{{ department.name }}</td>
                            <td> <a href = "{% url 'employee_app:employees_by_department' department.short_name %}" class ="warning button">Ver Empleados</a></td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- end of list table -->

            <!-- start of pagination -->
            <div class = "cell">
                {% if is_paginated %}
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="pagination-previous">
                                    <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
                                </li>
                            {% endif %}
                            
                            {% for page in paginator.page_range %}

                            {% if page == page_obj.number %}
                                <li class="current"><span class="show-for-sr">You're on page</span>{{ page }}</li>    
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li> 
                            {% endif %}
                                
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                                <li class="pagination-next">
                                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <!-- end of pagination -->
        </div>
    </div>
    
{% endblock content %}

