{% extends 'base.html' %}


{% block title %}
    Todos los empleados
{% endblock title %}

{% block content %}

    {% include "includes/header.html" %}
    <div class = "grid-container">
        <div class = "grid-x">
            <h1 class = "cell"  style = "margin-top: 20px; margin-bottom: 10px;">CREAR NUEVO EMPLEADO</h1>
        </div>

        <div class = "cell">
            <form class = "grid-x grid-margin-x" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="cell large-6">
                    <label>Nombres:
                        {{ form.first_name }}
                    </label>
                </div>
                
                <div class="cell large-6">
                    <label>Apellidos:
                        {{ form.last_name }}
                    </label>
                </div>
                
                <div class="cell large-6">
                    <label>Cargo:
                        {{ form.job }}
                    </label>
                </div>

                <div class="cell large-6">
                    <label>Departamento:
                        {{ form.department }}
                    </label>
                </div>

                <div class="cell large-12">
                    <label>Habilidades:
                        {{ form.skills }}
                    </label>
                </div>

                
                <div class="cell large-6">
                    <label>Foto:
                        {{ form.avatar }}
                    </label>
                </div>

                <div class="cell">
                    <button class="submit success button">Regitrar</button>
                </div>             
            </form>
        </div>
    </div>
    
{% endblock content %}

