{% extends 'base.html' %}

{% block title %}
    Eliminar empleado
{% endblock title %}

{% block content %}

    {% include "includes/header.html" %}
    <div class = "grid-container">
        <div class = "grid-x">
            <h1 class = "cell"  style = "margin-top: 20px; margin-bottom: 10px;">Eliminar a {{ object.full_name }}</h1>
            
            <form class = "cell" action="" method="post">
                {% csrf_token %}
                
                <div class="callout secondary">
                    <h5>¿ Desea eliminar este empleado ?</h5>
                    <button type="sublit" class="alert button">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}
