{% extends 'base.html' %}


{% block title %}
    Todos los empleados
{% endblock title %}

{% block content %}

    {% include "includes/header.html" %}


    <div class = "grid-container">
        <div class = "grid-x">
            <h1 class = "cell">ADMINISTRAR EMPLEADOS</h1>

            <!-- start of list table -->
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="50">ID</th>
                            <th width="100">NOMBRE</th>
                            <th width="100">APELLIDOS</th>
                            <th width="200">DEPARTAMENTO</th>
                            <th width="200">ACCIONES</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for employee in list_employees %}
                        <tr>
                            <td>{{ employee.id }}</td>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.department.name }}</td>
                            <td>
                                <div class="button-group" >
                                    <a style="margin-right: 5px;" href = "{% url 'employee_app:employee_update' employee.id %}" class ="success button">Editar</a>
                                    <a style="margin-right: 5px;" href = "{% url 'employee_app:employee_delete' employee.id %}" class ="alert button">Eliminar</a>
                                </div>
                            </td>                        
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- end of list table -->

            <!-- start of pagination -->
            <div class = "cell">
                {% if is_paginated %}
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="pagination-previous">
                                    <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
                                </li>
                            {% endif %}
                            
                            {% for page in paginator.page_range %}

                            {% if page == page_obj.number %}
                                <li class="current"><span class="show-for-sr">You're on page</span>{{ page }}</li>    
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li> 
                            {% endif %}
                                
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                                <li class="pagination-next">
                                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <!-- end of pagination -->
        </div>
    </div>
    
{% endblock content %}

